.about-page-section1 {
  margin: 0 auto;
  max-width: 1120px;
  padding: 3.5rem 1.5rem 5rem;
  text-align: center;
 
  p{
   
  }
}

.about-section2{
      display: flex;
    flex-wrap: wrap;
  .image-div{
    width: 50%;
  }
  .content-div{
    width: 50%;
    .content-center{
      img{}
      h2{
        font-size: 30px;
        font-weight: 600;
        color: var(--primary-color);
        text-transform: uppercase;
      }
      ul{
        line-height: 40px;
        li{
          font-size: 16px;
          font-weight: 300;
          display: flex;
          align-items: center;
          gap: 6px;
          .list-icon{
            font-size: 17px !important;
          }
        }
      }
    }
  }
}
