.home-page{
  .section-product-list{

    .product-list-page{
     
      .product-item{
       box-shadow: none;
         flex: 1 1 calc(33.333% - 32px);
        max-width: calc(33.333% - 32px);
        border: none;
      }
    }
  }

.section2{
  .txt-div{
    background-color: var(--accent-color);
        top: 50%;
    position: relative;
    transform: translate(0%, -50%);
    padding: 15em 16em;
   
  }
}

.section3{
 
  .contact-div{
   .text-center{
    h2{
      
    }
   }
  }

}

.section4{
   background-color: var( --accent-color);
  .image-div{}
  .txt-div{
    h3{}
    ul{
      line-height: 35px;
      li{
        font-weight: 300;
        .list-icon{
          font-size: 16px !important;
        }
      }
    }
  }
}

}
