body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}



.slider-div {
    display: flex;
    gap: 20px;

    .left-image,
    .right-image {
        flex: 1;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .caption-left {
        background-color: var(--white);
        border-radius: 0;
        line-height: normal;

        h2 {
            color: var(--text-color);
            font-size: 96px;
            font-weight: 500;
        }

        p {
            color: var(--text-color);
            font-weight: 500;
            

            &.sub-1 {
                font-size: 80px;


            }

            &.sub-2 {
                font-size: 55px;

            }

            &.sub-3 {
                font-size: 20px;

            }
        }
    }

    .caption-right{
        background-color: transparent;
        border: none;
        backdrop-filter: none;
        width: 80%;

        h2{
            font-size: 44px;
            font-weight: 600;
        }
        p{
            font-size: 18px;
            font-weight: 100;
        }
    }

}


.book-now-btn{
    border:none !important;
    border-bottom: 1px solid var(--primary-color) !important;
    border-radius: 0 !important;
    color: var(--primary-color) !important;

}


.fl-primary-btn{
    border-color: var(--white) !important;
    border-radius: 0 !important;
    color: var(--white) !important;
    padding: 12px 37px !important;
}
.fl-secondary-btn{
    border-color: var(--primary-color) !important;
    border-radius: 0 !important;
    color: var(--primary-color) !important;
    padding: 12px 37px !important;
}

.fl-primary-black-btn{
    background-color: var(--primary-color) !important;
      border-radius: 0 !important;
    color: var(--white) !important;
    padding: 12px 37px !important;
}




.page-header-banner{
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .sub-page-banner{
    width: 100%;
    object-fit: cover;
    height: 100%;
    }
    .heading-div{
        position: absolute;
        z-index: 5;
        h1{
            font-size: 42px;
            font-weight: 600;
            color: var(--white);
            text-transform: uppercase;
            text-align: center;
        }
        p{
            font-size: 19px;
            font-weight: 300;
            color: var(--white);
        }
    }
    .banner-bg{
     position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
background: rgba(8, 8, 8, 0.262);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
    }
}

