@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color:#000000;
    --secondary-color: #ffffff;
    --accent-color: #f9f9f9;
    --text-color: #000000;
    --header-height: 60px;
    --footer-height: 40px;
    --border-radius: 4px;
    --font-family: "Work Sans", sans-serif;
    --white:#ffffff;
    --light-grey:#f8f8f8;
}